 {{#each recipes}}
<article class="recipe">
   
                    <img src="{{image}}"
                        alt="Spaghetti Carbonara">
                    <h3>{{title}}</h3>
                    <p>{{description}}</p>
                    <a href="/recipes/details/{{_id}}">Read More</a>
                    
                </article>
{{else}}
<p class="no-post">There are no recipes found yet!</p>
{{/each}}